
<!DOCTYPE html>

<html>

<head>
	

	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<link rel="stylesheet" type="text/css" href="http://jimmy.materials.chineseforall.org/css/new_drag.css">	

    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="http://wei.materials.chineseforall.org/soundsystem/js/jquery.ui.touch-punch.min.js"></script>
<script>
  (function(d) {
    var config = {
      kitId: 'jdh3skg',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

    
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<link href="http://jimmy.materials.chineseforall.org/css/sidebar.css" rel="stylesheet">
	<link href="http://jimmy.materials.chineseforall.org/css/literacy.css" rel="stylesheet">    
     <script src="http://jimmy.materials.chineseforall.org/js/menu.js"></script>
    <script src="http://jimmy.materials.chineseforall.org/js/drag.js"></script>    
    
</head>

	  <div id="wrapper">
        <!-- Sidebar -->
          
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <!--   <script src="http://jimmy.materials.chineseforall.org/js/menu.js"></script> -->
        <div id="sidebar-wrapper">
                <br>
                <li>
                    <a href="http://jimmy.materials.chineseforall.org/ch8-1.html">1. Frequently Used Characters</a>
                </li>
                <li>
                    <a href="http://jimmy.materials.chineseforall.org/ch8-2.html">2. Chinese Literacy Foundation</a>
                </li>
                <li>
                    <a href="http://jimmy.materials.chineseforall.org/ch8-3.html">3. Word-forming Capabilities</a>
                </li>
                <li>
                    <a href="http://jimmy.materials.chineseforall.org/ch8-4.html">4. Learning 1,000 Characters</a>
                </li>
				<li>
                    <a href="http://jimmy.materials.chineseforall.org/ch8-5.html">5. Setting Up a Study Plan</a>
                </li>
                <br>
				<li>
					<a href="ch8-ex-beg.html">Beginner Exercises</a>
				</li>
				<li>
					<a href="ch8-ex-inter.html">Intermediate Exercises</a>
				</li>
				<li>
					<a href="ch8-ex-adv.html">Advanced Exercises</a>
				</li>
                <br>
				<li>
                    <a href="http://jimmy.materials.chineseforall.org/ch8-index.html">Back to Chapter 8 Home</a>
                </li>
				<li>
                    <a href="http://jimmy.materials.chineseforall.org/index.html">Back to Volume 1 Home</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
		<div id="above-footer">
		<div id="header">
			<div class="menu" onclick="menu(this)">
			  <div class="bar1"></div>
			  <div class="bar2"></div>
			  <div class="bar3"></div>
			</div>
			<div class="title"><h3>Chinese Literacy Vol.1</h3></div>
		 </div>
        <!-- Page Content -->    
     <!-- Page Content -->
        <div id="page-content-wrapper">
            <h2 class="exer_title">Ch 8 - Beginner Exercise 3 </h2>
            <br>
        
            <center>
                <div id="info"> Click  <img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"> 
          to hear the sound and see the pinyin of each character.
          <br>
          Match each character to the correct pinyin.
         
            <br>
            <br>
                </div>
            </center>
    <body>
    
	
	
<!--	
<p align="center" id="answ"></p>
<p align="center" id="corre"></p>
<p align="center" id="num"></p>
-->
	
<div class="wrapper">

<div class="font_size_42 table_e5_width" >
	
<table class="table_e5" align="center"  style="text-align: center">
	<tr><td style="text-align: right"  width="20px"><a name="q1" id="incorrect_0" class="mark_ex6" href="#">&#10008;</a>
		<a name="q1" id= "correct_0" class="mark_correct_ex6" href="#">&#10004;</a></td>
		
		<td width="120px">1 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[0]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>

	<tr><td style="text-align: right"><a name="q1" id="incorrect_1" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_1" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>2 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[1]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>

	<tr><td style="text-align: right"><a name="q1" id="incorrect_2" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_2" class="mark_correct_ex6" href="#">&#10004;</a></td>
		
	   <td>3 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[2]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>

	<tr><td style="text-align: right"><a name="q1" id="incorrect_3" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_3" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>4 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[3]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>

	<tr><td style="text-align: right"><a name="q1" id="incorrect_4" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_4" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>5 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[4]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>

	<tr><td style="text-align: right"><a name="q1" id="incorrect_5" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_5" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>6 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[5]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>
	
	<tr><td style="text-align: right"><a name="q1" id="incorrect_6" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_6" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>7 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[6]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>
	
	<tr><td style="text-align: right"><a name="q1" id="incorrect_7" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_7" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>8 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[7]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>
	
	<tr><td style="text-align: right"><a name="q1" id="incorrect_8" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_8" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>9 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[8]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>
	
	<tr><td style="text-align: right"><a name="q1" id="incorrect_9" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_9" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>10 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[9]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>
    
    <tr><td style="text-align: right"><a name="q1" id="incorrect_10" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_10" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>11 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[10]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>
    
    
	<tr><td style="text-align: right"><a name="q1" id="incorrect_11" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_11" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>12 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[11]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>	
    
    
    <tr><td style="text-align: right"><a name="q1" id="incorrect_12" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_12" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>13 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[12]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>
    
    <tr><td style="text-align: right"><a name="q1" id="incorrect_13" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_13" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>14 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[13]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>
    
    
    <tr><td style="text-align: right"><a name="q1" id="incorrect_14" class="mark_ex6" href="#">&#10008;</a>
	   <a name="q1" id="correct_14" class="mark_correct_ex6" href="#">&#10004;</a></td>
	
		<td>15 <a href="#" class="audio_btn" onClick="document.getElementById('sound_e'+random1_array[14]).play()"><img src="https://img.icons8.com/metro/50/000000/high-volume.png" width="30" height="30" alt="click"></a></td></tr>
    
	</table>
	
</div>

<div id="cardSlots" class="e5_width" style="margin-bottom: 0px"> </div>

 <div id="cardPile" class="e5_width font_kai" style="margin-bottom: 0px">      </div>

        </div>


<table class="table_e5_back" width="800" border="0" align="center">
		<tr style="border:0px;">
			
              <td > <button onclick=" javascript:window.location.href='http://jimmy.materials.chineseforall.org/ch8-ex-beg2.html'" id="footer_back">Back</button></td>
			<td> <button onclick=" javascript:window.location.href='http://jimmy.materials.chineseforall.org/ch8-ex-inter.html'" id="footer">Next</button></td>
          
			<td width="500px" style="padding-right: 0px; font-size:32px; color: #4286f4;">Score: <br><a id="sco"></a></td>
			
			<td width="450px" style="padding-right: 0px; font-size:32px; color: #4286f4;">Time: <a id="timer">00:00</a><a id="timer2"></a></td>
			
			<td class="no_jump" style="padding-right: 0px; padding-left: 0px;" align="right">
		        <input type="button" id="btn_check" name="done" value="Check" onclick="result(this.form)" style="font-size:36px;height:50px; width:170px">
                <input type="button" id="btn_redo" value="Redo" style="display: none; font-size:36px;height:50px; width:170px">
		</td>
			
    </tr></div>	
	

   
<script>
    

    
$(document).ready(function(){
       $('#btn_check').on('click', function(event) {        
			 $('#btn_check').toggle();
			 $('#btn_redo').toggle();
		     $('#timer').toggle();
});
        $('#btn_redo').on('click', function(event) 		{        
document.location.reload(false);
        });
 });
</script>

<script>
$('.audio_btn').click(function(e) { 
e.preventDefault(); 
});
</script>

<script>
	
var quz_length = 15;	
var random1_array = new Array();
var random2_array = new Array();
var correct_array = new Array();
var random1_index_array = new Array();
var correctness = new Array();
var cardSlot_array = new Array();
	
//var correctness = [0, 0, 0, 0, 0];
	
//var text = ['six', 'seven', 'eight', 'nine', 'ten'];

var text = [" 擔(担）", "放", "細(细） ", "關(关） ",  "中",  "信", "情", "決(决)", "愛(爱)", "意", "理", "碎", "思", "跳", "想"];
	
var ans_array = ["dan1", "fang4", "xi4", "guan1", "zhong1", "xin4", "qing2", "jue2", "ai4", "yi4", "li3", "sui4", "si1", "tiao4", "xiang3"];
	
    
    
for (var i = 0; i< ans_array.length; i++){
    
   var sound = document.createElement('audio');
    var id = i+1;
    sound.id = 'sound_e' + id;
    sound.src=  "http://jimmy.materials.chineseforall.org/audio/" + ans_array[i] + ".mp3";
document.getElementsByTagName('body')[0].appendChild(sound);
        
}
    
var term_array =  ["dan1", "fang4", "xi4", "guan1", "zhong1", "xin4", "qing2", "jue2", "ai4", "yi4", "li3", "sui4", "si1", "tiao4", "xiang3"];
    
	
for (var i = 0; i<quz_length; i++) {
	random1_array[i] = i+1;
	random2_array[i] = i+1;
	correct_array[i] = "correct"+i;
	correctness[i] = 0;
	cardSlot_array[i] = i+1;
}
	
random_order();
			
//document.getElementById("answ").innerHTML = "R1 = "+ random1_array + "<br> R2 = " + random2_array + "<br> R1 index = " + random1_index_array;
	
function random_order() {
    random1_array.sort(function(a, b){return 0.5 - Math.random()});
	random2_array.sort(function(a, b){return 0.5 - Math.random()});
	
	for (i = 0; i < ans_array.length; i++) {
		random1_index_array[i] = random1_array.indexOf(i+1);
    }
}
</script>

<script>
$('.no_jump').click(function(e) { 
e.preventDefault(); 
});
</script>

	
</body>

</html>
